body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color:#353A4D;
}

* {
	outline: none;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #6F74A3;
  font-size: 2.5em;
}

.text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #6F74A3;
  font-size: 1.5em;
  margin-left:12%;
  margin-right: 12%;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353A4D 
}
 
::-webkit-scrollbar-thumb {
  background: #434e81;  
}

::-webkit-scrollbar-thumb:hover {
  background: #364069; 
}