body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  background-color:#353A4D;
}

* {
	outline: none;
}

.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #6F74A3;
  font-size: 2.5em;
}

.text {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #6F74A3;
  font-size: 1.5em;
}

#btns {
  margin-top: 28%;
  margin-left: 70%;
}

.btn {
  background-color: #5a5e83;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: #6F74A3;
  font-size: 1.5em;
  border: none;
}

#drpd1:hover {
  background-color: #5a5e83;
}

.btn:hover {
  background-color: #4f5272;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #353A4D 
}
 
::-webkit-scrollbar-thumb {
  background: #434e81;  
}

::-webkit-scrollbar-thumb:hover {
  background: #364069; 
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #40465e;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

